.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
cluster outputs/*
figures/*
results cluster outputs/*
big world cluster outputs/*
results cluster output/Results_ analysis_for_model_25_simulated_for_ 5000_timesteps_180_replicates_used.R

results cluster output/Results_ analysis_for_model_28_simulated_for_ 5000_timesteps_168_replicates_used.R

results cluster output/Results_ analysis_for_model_29_simulated_for_ 5000_timesteps_168_replicates_used.R

results cluster output/Results_ analysis_for_model_31_simulated_for_ 5000_timesteps_168_replicates_used.R

results cluster output/Results_ analysis_for_model_25_simulated_for_ 10000_timesteps_80_replicates_used.R

results cluster output/Results_ analysis_for_model_28_simulated_for_ 10000_timesteps_80_replicates_used.R

results cluster output/Results_ analysis_for_model_29_simulated_for_ 10000_timesteps_80_replicates_used.R

results cluster output/Results_ analysis_for_model_31_simulated_for_ 10000_timesteps_80_replicates_used.R
